* {
    border-radius:30px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#email {
    width:50vw;
}

#ddn {
    width:50vw;
}

#mdp {
    width:50vw;
}

#connection {
    cursor: pointer;
}

form {
    text-align:left;
}

body {
    position:relative;
}
.container01 {
    width:40%;
    text-align: right;
    position:absolute;
    left:40%;
    top:40vh;
    transform: translateX(-50%);
}